# Kernel source
linux-*.*

# Self explanatory
disk.img

# Kernel module objects
.hello.mod.cmd
.hello.o.cmd
.modules.order.cmd
hello.mod
hello.o
modules.order
.Module.symvers.cmd
.hello.ko.cmd
.hello.mod.o.cmd
Module.symvers
hello.ko
hello.mod.c
hello.mod.o
